.cta {
    .form-input {
        border-color: #000;
        border-radius: 1px;
    }
}

.cta-inner {
    padding-left: 16px;
    padding-right: 16px;
    background-color: get-color(dark, 1);
    
}

@include media(">medium") {
    .cta {
        .form-input {
            min-width: 280px;
        }
    }

    .cta-inner {
        padding-left: 48px;
        padding-right: 48px;
    }
}
