#vidtop-content {
  top: 0;
  color: #fff;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground {
    height: 100%;
    // top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground {
    width: 100%;
    // left: -100%;
  }
}
@media all and (max-width: 600px) {
  .vid-info {
    width: 50%;
    padding: 0.5rem;
  }
  .vid-info h1 {
    margin-bottom: 0.2rem;
  }
}
@media all and (max-width: 500px) {
  .vid-info .acronym {
    display: none;
  }
}

.player-wrapper-bg {
  position: absolute;
  width: 100%;
  height: 100vh;
  object-fit: cover;
  opacity: 1;
  background-color: black;
}

.player-wrapper {
  position: relative;
  padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
}

.player {
  background-color: #fff !important;
  color: #fff !important;
}

.vimeo-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  margin: 0;
  pointer-events: none;
  overflow: hidden;
  background-color: black;
}
.vimeo-wrapper iframe {
  width: 100vw;
  margin: 0;

  opacity: 0.5;
  height: 56.25vw; /* Given a 16:9 aspect ratio, 9/16*100 = 56.25 */
  min-height: 100vh;
  min-width: 177.77vh; /* Given a 16:9 aspect ratio, 16/9*100 = 177.77 */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
